@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    background: linear-gradient(#af67e9, #6565e7) no-repeat fixed;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1f36;
    height: 100%;
}

main {
    background: white;
    margin: 148px 2em;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 50px 50px -20px rgba(58, 18, 122, 0.5);
    position: relative;
}

figure::before {
    content: "";
    position: absolute;
    background: url("images/bg-pattern-mobile.svg");
    width: 240px;
    height: 104px;
    top: 0;
    left: 50%;
    margin-left: -120px;
}

img {
    position: absolute;
    top: -108px;
    left: 50%;
    margin-left: -147px;
}

.desktop-only {
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1;
    text-align: center;
    margin: max(3.34em, 115px) 0 0.625em;
}

ul {
    list-style-type: none;
}

li {
    border-bottom: 1px solid #e8e8ea;
    padding: 1.5em 0;
}

.question {
    font-size: 1.3rem;
    position: relative;
    color: #4b4c5f;
    cursor: pointer;
}

.question::after {
    content: "";
    background: url("images/icon-arrow-down.svg") center no-repeat;
    background-size: 100%;
    width: 0.62em;
    height: 1.2em;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.3s;
}

.answer {
    color: #787887;
    height: 0;
    padding-right: 2em;
    overflow: hidden;
}

.open .question {
    font-weight: 700;
    color: #1e1f36;
}

.open .question::after {
    transform: rotate(180deg);
}

.open .answer {
    height: unset;
    padding-top: 1em
}

@media (min-width: 1000px) {
    h1 {
        text-align: left;
        margin: 0 0 0.78em;
    }

    main {
        width: 920px;
        margin: 10.8em auto;
        padding: 5.4em 7.9em 6.9em 40em;
    }

    figure::before {
        background: url("images/bg-pattern-desktop.svg") top -294px left -576px;
        width: 388px;
        height: 100%;
        left: 0;
        margin: 0;
    }

    figure::after {
        content: "";
        background: url("images/illustration-box-desktop.svg");
        position: absolute;
        width: 191px;
        height: 184px;
        top: 206px;
        left: -93px;
    }

    img {
        width: 388px;
        height: 359px;
        object-fit: cover;
        object-position: right;
        top: 70px;
        left: 0;
        margin: 0;
    }

    .desktop-only {
        display: initial;
    }

    .mobile-only {
        display: none;
    }

    .question {
        font-size: 1.4rem;
    }

    .question:hover, .question:focus {
        color: #f47b56;
    }
}