@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    background: linear-gradient(#af67e9, #6565e7);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1f36;
    height: 100vh;
}

main {
    background: white;
    margin: 12.33em 2em 7em;
    padding: 0 2em 2em;
    border-radius: 2em;
}

figure {
    text-align: center;
}

figure::after {
    content: "";
    display: block;
    background: url("images/bg-pattern-mobile.svg");
    width: 240px;
    height: 104px;
    margin: -100px auto 0;
}

img {
    margin-top: -108px;
    margin-left: -25px;
}

h1 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1;
    text-align: center;
    margin: 0.85em 0 0.625em;
}

ul {
    list-style-type: none;
}

li {
    border-bottom: 1px solid #e8e8ea;
    padding: 1.5em 0;
}

li:last-of-type {
    border: 0;
}

.question {
    font-size: 1.3rem;
    position: relative;
    color: #4b4c5f;
}

.question:hover, .question:focus {
    color: #f47b56;
    cursor: pointer;
}

.question::after {
    content: "";
    background: url("images/icon-arrow-down.svg") center no-repeat;
    width: 10px;
    height: 1.2em;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.3s;
}

.answer {
    color: #787887;
    height: 0;
    padding-right: 1.5em;
    overflow: hidden;
}

.open .question {
    font-weight: 700;
    color: #1e1f36;
}

.open .question:hover, .open .question:focus {
    color: #f47b56;
}

.open .question::after {
    transform: rotate(180deg);
}

.open .answer {
    height: unset;
    padding-top: 1em
}
